@model Ehealth.Models.patient

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>patient</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.patientNhsNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.patientNhsNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.patientName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.patientName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.patientContact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.patientContact)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.patientEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.patientEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.patientDob)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.patientDob)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.patientAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.patientAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.arrivalTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.arrivalTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.arrivalDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.arrivalDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.followUps)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.followUps)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.doctor.doctorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.doctor.doctorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.doctor1.doctorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.doctor1.doctorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.history.historyDetails)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.history.historyDetails)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hospital.hospitalName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hospital.hospitalName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.test_results.patientNhsNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.test_results.patientNhsNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.test_types.testName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.test_types.testName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
